:root {
  --light: rgb(194, 194, 194);
  --dark: rgb(87, 87, 87);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search {
  max-width: 500px;
  margin: 3em auto;
  padding: 0 1em;
}

.search input {
  padding: 0 3px;
  width: 100%;
  font-size: x-large;
  font-family: 'Open Sans', sans-serif;
}

.search input:focus {
  outline: 0px;
}

div .images {
  overflow: hidden;
}

.images {
  margin: 0 2em 3em 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.image {
  width: 100%;
  height: 50vh;
  position: relative;
}

.single-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: image-hover;
  animation-duration: 0.1s;
  cursor: zoom-in;
}

@keyframes image-hover {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.author {
  position: absolute;
  cursor: default;
  bottom: 5%;
  left: 5%;
  height: 32px;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(228, 228, 228);
}

.name {
  display: inline-block;
  height: 100%;
}

.author span {
  margin-left: 5px;
}

.author-img {
  width: 32px;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
}

.download {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: rgb(228, 228, 228);
}

.download:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.spinner {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2em;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5em;
}

.modal {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.modal img {
  max-width: calc(100vw - 10em);
  max-height: calc(100vh - 10em);
}

.ReactModal__Body--open {
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .images {
    margin: 3em 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }

  .image {
    height: 50vh;
  }

  .single-image {
    height: 50vh;
  }

  .overlay {
    padding: 2em;
  }

  .modal img {
    max-width: calc(100vw - 4em);
    max-height: calc(100vh - 4em);
  }
}

@media screen and (max-width: 600px) {
  .images {
    margin: 3em 1em;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
  }

  .image {
    height: 60vh;
  }

  .single-image {
    height: 60vh;
  }
}
